$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family-base: 'DM Sans', Arial, sans-serif;
$color-bg-main: #f6f6fa;
$color-primary: #7c5cff;
$color-secondary: #ffe6a7;
$color-card: #fff;
$color-text-main: #2d2d2d;
$color-text-secondary: #6c6c80;
$color-accent: #ffb84c;
$color-purple-light: #ede7fe;
$color-purple-dark: #7c5cff;
$color-yellow: #ffe6a7;
$color-star: #ffb84c; 