// Importación de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Importar fuente DM Sans estática
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Importar parciales
@import 'variables';
@import 'mixins';
@import 'base';
@import 'cards';
@import 'responsive';

